body{
    background-image: url(../DSC_0277-01-01.jpeg);
    font-family: sans-serif;
    line-height: 40px;
    background-size: contain;
    background-position: initial;
}
h1{
    font-size: xxx-large;
    font-style: italic;
    
    
}
p{
    color: darkorange;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.mahim{
    width: 300px;
    clip-path: circle();
    
}
*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#main{
    width: 80%;
    height: 10vh;
}
nav{
    width: 125%;
    height: 60px;
    background-color: #0009;
    line-height: 80px;
    position: fixed;
}
nav ul{
    float: left;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    transition: 0.8s all;
}
nav ul li:hover{
    background-color: #f39d1a;
    height: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    padding: 50px;
}
address{
    font-size: x-large;
}
#myHeader{
    background-color: lightblue;
    color: black;
    padding: 40px;
    text-align: center;
}
h3{
    background-color: blueviolet;
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 00.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
h3 p{
    font-size: medium;
}
h4{
    font-size: large;
    font-style: italic;
    color: blue;
}
table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    box-sizing: border-box;
    border-color: brown;
    display: table;
    border-spacing: 2px;
}
td{
    color: darkgreen;
}
address{
    color: cyan;
}
a link, a:visited{
    color: white;
    padding: 20px 250px;
    text-align: center;
    text-align: none;
    display: inline-block;
}
.button{
    background-color: darkmagenta;
    border: none;
    font-size: 30px;
    margin: 4px 2px;
    cursor: pointer;
}
a:-webkit-any-link {
text-decoration: none;
}
h2{
    color: darkturquoise;
}
li{
    color: firebrick;
    font-size: large;
}
form{
    text-align: center;
}

.experiences{
    padding: 30px;
    margin: 30px;
    border-radius: 20px;
}
